.custom-navbar {
  background: #fff;
  padding: 15px 0;
}

.navbar-nav .nav-link {
  color: #333;
  font-size: 14px;
  font-weight: 500;
  margin: 0 10px;
}

.navbar-nav .nav-link:hover {
  color: #e53935;
}

.custom-dd {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.arrow {
  display: inline-flex;
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.arrow-icon {
  font-size: 10px;
  color: #000;
}

.nav-item.dropdown {
  position: relative;
}

.dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;

  background: #fff;
  border-radius: 10px;
  border: none;
  margin-top: 12px;

  box-shadow: 0 8px 20px rgba(0,0,0,0.12);

  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;

  transition: all 0.25s ease;
  min-width: 180px;
  z-index: 999;
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
    border-left: 4px solid #e53935;
}

.dropdown-item {
  padding: 8px 12px;
  font-size: 14px;
}

.dropdown-item:hover {
  background: #f8f9fa;
  color: #e53935;
}

.sub-item {
  border-left: 3px solid #e53935;
  padding-left: 12px;
  transition: 0.2s;
}

.sub-item:hover {
  border-left: 3px solid #000;
}

.search-box {
  position: relative;
}

.search-box input {
  padding: 8px 35px 8px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
}

.search-box input:focus {
  border-color: #e53935;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #888;
  cursor: pointer;
}

.search-icon:hover {
  color: #e53935;
}

.search-icon.clear {
  color: #e53935;
}

@media (max-width: 1199px) {
  .navbar-collapse {
    background: #fff;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
  }

  .navbar-nav {
    align-items: flex-start !important;
  }

  .search-box {
    width: 100%;
    margin-top: 10px;
  }

  .search-box input {
    width: 100%;
  }
}